#jinja2: lstrip_blocks: True, trim_blocks: True
<VirtualHost *:80>
   ServerAdmin {{ instance.email }}
   ServerName {{ instance.domains | first }}
	{% if instance.domains | length > 1 %}
	{# if list of domains is longer than one element, create ServerAlias line #}
	{# note that multiple aliases can be provided on one line separated by space #}
   ServerAlias {% for alias in instance.domains[1:] %}{{ alias + ' ' }}{% endfor %}
   {% endif %}

   Redirect permanent / https://{{ instance.domains | first }}/

   ErrorLog ${APACHE_LOG_DIR}/{{ instance.domains | first }}_error.log
   CustomLog ${APACHE_LOG_DIR}/{{ instance.domains | first }}_access.log combined
</VirtualHost>

<VirtualHost *:443>
   ServerAdmin {{ instance.email }}
   ServerName {{ instance.domains | first }}
	{% if instance.domains | length > 1 %}
   ServerAlias {% for alias in instance.domains[1:] %}{{ alias + ' ' }}{% endfor %}
	{% endif %}

   <Proxy *>
      Allow from localhost
   </Proxy>

   RewriteEngine on
   RewriteCond %{HTTP:Upgrade} =websocket
   RewriteRule /(.*)     ws://{{ instance.ipv4 }}:{{ instance.port }}/$1  [P,L]
   RewriteCond %{HTTP:Upgrade} !=websocket
   RewriteRule /(.*)     http://{{ instance.ipv4 }}:{{ instance.port }}/$1 [P,L]
   ProxyPass / http://{{ instance.ipv4 }}:{{ instance.port }}/
   ProxyPassReverse / http://{{ instance.ipv4 }}:{{ instance.port }}/
   ProxyRequests Off

   SSLEngine on
   SSLCertificateKeyFile   /etc/letsencrypt/live/{{ instance.domains | first }}/privkey.pem
   SSLCertificateFile      /etc/letsencrypt/live/{{ instance.domains | first }}/cert.pem
   SSLCertificateChainFile /etc/letsencrypt/live/{{ instance.domains | first }}/chain.pem

   ErrorLog ${APACHE_LOG_DIR}/{{ instance.domains | first }}_error.log
   CustomLog ${APACHE_LOG_DIR}/{{ instance.domains | first }}_access.log combined
</VirtualHost>
